*{
    margin: 0;
    padding: 0;
}
body{
    background:  url("./images/big\ b.avif");   
    background-repeat: repeat
}
h1{
    color: pink;
    font-size: 5rem;
    padding-top: 15rem;
    font-family: serif;
    text-align: center;
}
p{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
    
}
.one{
    background: pink;
    padding: 25px;
    display:inline-block  
}
.two{
background: white;
padding: 25px;
}
.three{
    background: black;
    padding: 25px;
    color: white;
}
h2{
    color: white;
    text-align: right;
}